.calculator-modal {
  width: min-content;
  left: auto !important;
  top: 50% !important;
  right: 14px !important;
  transform: translate(100%, -50%);
  transform-origin: top right;
  transition: .3s ease;
  opacity: 0;
}

.calculator-modal .modal-header {
  cursor: move;
}

.calculator-modal.show-calculator {
  transform: translate(0px, calc(0px - 50%));
  opacity: 1;
}


.calculator-screen {
  width: calc(50px * 4);
}

.calculator-keyboard {
  width: calc(50px * 4);
  height: calc(50px * 5);
}
