<div id="carouselExampleCaptions" class="carousel slide">
  <div class="carousel-indicators">
    {% for anuncio in anuncios %}
      <button
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide-to="0"
        aria-label="Slide 1"
        {% if forloop.counter == 0 %}
          class="active"
          aria-current="true"
        {% endif %}
      ></button>
    {% endfor %}
  </div>
  <div class="carousel-inner">
    {% for anuncio in anuncios %}
    <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
      <img src="/{{ anuncio.imagem }}" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ anuncio.nome }}</h5>
        <p>{{ anuncio.descricao }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
