{% extends 'layouts/screen.html' %}
{% block main %}

<div class="container text-center my-4">
	<h1 class="display-2">Pesquisar produto</h1>

	<form action="/pesquisar" method="GET" class="w-100">
	  <input
		  type="search"
		  name="q"
		  class="mt-4 form-control form-control-lg text-center w-100"
		  placeholder="Digite o nome do produto..."
		  autofocus
		  autocomplete="off"
		>
	  <button type="submit" class="btn btn-success btn-lg mt-3">Pesquisar</button>
	</form>

	<h3 class="my-4 text-italic">Mais buscados</h3>
	<div class="row g-2">
		{% for produto in mais_buscados %}
		<div class="col">
			<a href="/produto/{{ produto.id }}">
				<div class="card">
				  <img src="/{{ produto.imagem }}" class="card-img" style="aspect-ratio: 1/1; object-fit: contain;">
				</div>
			</a>
		</div>
		{% endfor %}
	</div>
</div>

{% endblock %}
