{% extends 'base.html' %}
{% block content %}

<div class="container d-flex flex-column align-items-center justify-content-center" style="height: 100vh;">
	<h1 class="display-2">Pesquisar produtos</h1>
	<h3 class="mt-4 text-italic">Digite o nome do produto</h3>

	<form action="/pesquisar" method="GET" class="w-100 text-center">
	  <input type="text" name="q" class="mt-4 form-control form-control-lg w-100 text-center" placeholder="Digite aqui..." onblur="this.focus()" autofocus>
	  <button type="submit" class="btn btn-success btn-lg mt-3">Pesquisar</button>
	</form>
</div>

{% endblock %}