{% extends 'layouts/screen.html' %}
{% block main %}

<div class="container my-4">
	<div class="row">
		<div class="col-8">
			<img src="/{{ produto.imagem }}" class="w-100">
		</div>
		<div class="col-4">
			<h1 class="mb-4">{{ produto.nome }}</h1>
			
			<div class="card d-flex flex-row align-items-center mt-2 overflow-hidden">
				<div class="bg-success" style="width: 5px; height: 100px"></div>
				<div class="text-center" style="width: 64px;">
					<i class="fa-solid fa-dollar-sign d-block fs-2"></i>
				</div>
	
			  <div class="card-body">
			    <p class="card-text mb-1">Preço</p>
			    <h4 class="card-title fw-semibold">R$ {{ produto.preco }}</h4>
			  </div>
			</div>

			<div class="card d-flex flex-row align-items-center mt-2 overflow-hidden">
				<div class="bg-primary" style="width: 5px; height: 100px"></div>
				<div class="text-center" style="width: 64px;">
					<i class="fa-solid fa-magnifying-glass d-block fs-2"></i>
				</div>
	
			  <div class="card-body">
			    <p class="card-text mb-1">Corredor</p>
			    <h4 class="card-title fw-semibold">{{ produto.corredor }}</h4>
			  </div>
			</div>

			<div class="card d-flex flex-row align-items-center mt-2 overflow-hidden">
				<div class="bg-warning" style="width: 5px; height: 100px"></div>
				<div class="text-center" style="width: 64px;">
					<i class="fa-solid fa-box d-block fs-2"></i>
				</div>
	
			  <div class="card-body">
			    <p class="card-text mb-1">Estoque</p>
			    <h4 class="card-title fw-semibold">{{ produto.estoque }} unid.</h4>
			  </div>
			</div>

			<button class="btn btn-warning btn-lg d-block mt-2 w-100" onclick="return insertNum('{{ produto.preco }}')">
				<i class="fa-solid fa-calculator"></i> Adic. à calculadora
			</button>

			<button class="btn btn-primary btn-lg d-block mt-2 w-100">
				<i class="fa-solid fa-code-compare"></i> Comparar preços
			</button>
		</div>
	</div>
</div>

{% endblock %}