{% extends 'layouts/screen.html' %}
{% block main %}

<div class="container text-center my-4">
  <h1 class="display-2">Resultados da pesquisa</h1>

  <form action="/pesquisar" method="GET" class="w-100 mx-auto" style="max-width: 700px;">
    <input
      type="search"
      name="q"
      class="mt-4 mx-auto form-control form-control-lg text-center w-100"
      placeholder="Digite o nome do produto..."
      autofocus
      autocomplete="off"
      value="{{ pesquisa }}"
    >
    <div class="mx-auto mt-3">
      <div class="simple-keyboard"></div>
    </div>
    <button type="submit" class="btn btn-success btn-lg mt-3">
      <i class="fa-solid fa-magnifying-glass"></i> Pesquisar
    </button>
  </form>

  <h3 class="my-4 text-italic">Encontramos {{ produtos|length }} resultados</h3>
</div>

<div class="container">
  <div class="row g-3">
    {% for produto in produtos %}
      {% include 'components/produto-card.html' with produto=produto %}
    {% endfor %}
  </div>
</div>


{% endblock %}

{% block scripts %}
<script>
  const $search = document.querySelector('[name="q"]')
  $search.select()
</script>
<script src="/static/js/keyboard.js"></script>
{% endblock %}
